body {
	background: #34495e;
	color: #ecf0f1;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	margin: 0;
	padding: 0;
}

#app {
	width: 100%;
}

#playlist {
	width: 20%;
	float: left;
}

#interactive-pane {
	width: 80%;
	float: right;
	height: 100%;
}

#audio-player {
	display: none;
}

circle.node {
	fill: #e67e22;
}

circle.node:hover {
	fill: #ecf0f1;
}

text {
	fill: #ecf0f1;
}

text.activated {
	fill: #2a2c2b;
}

rect {
	fill: #2a2c2b;
}

rect.activated {
	fill: #ecf0f1;
}

line.link {
	stroke-width: 3px;
	stroke: #e67e22;
}

.waveform {
	position: absolute;
	/*margin-top: -300px;*/
	fill: none;
	stroke: rgba(52, 152, 219, 1);
	stroke-width: 0.25;
	width: 100%;
	left: 0px;
	height: 10%;
	z-index: -1000;
}

.playlist-list {
	background: #2a2c2b;
	list-style: none;
	margin: 0;
	padding: 0;
}

.playlist-list li {
	margin-top: 5px;
	width: 100%;
	height: 17px;
	padding: 20px;
	font-weight: bold;
}

.playlist-list li .x-button {
	color: #ecf0f1;
	text-decoration: none;
	float: right;
	font-size: 1.2em;
}