body {
	background: #34495e;
	color: #ecf0f1;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	margin: 0;
	padding: 0;
}

#app {
	width: 100%;
}

#playlist {
	width: 20%;
	float: left;
}

#interactive-pane {
	width: 80%;
	float: right;
	height: 100%;
}

#audio-player {
	display: none;
}

circle.node {
	fill: #e67e22;
}

circle.node:hover {
	fill: #ecf0f1;
}

line.link {
	stroke-width: 3px;
	stroke: #e67e22;
}